# class
snippet class
	class ${1:name} ${var} where
		${3:func} :: ${4:var -> x}
snippet instance
	instance ${1:Class} ${2:DataType} where
		${3:func}
snippet func
	${1:name} :: ${2:input} -> ${3:output}
	$1 ${4:pattern} =
